<h1>TODO LIST</h1>
<h2>Registre suas atividades e não perca mais seus prazos.</h2>
<!--CARDS-->
<div class="row row-cols-1 row-cols-md-3 g-6">
  <div class="col">
      <div class="card-body">
        <h5 class="card-title">Organização</h5>
        <p class="card-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur eveniet ipsum debitis! In nobis modi qui harum tenetur culpa laborum eos incidunt ipsa officia voluptate, dolore laboriosam tempore? Incidunt, non.</p>
      </div>
    
  </div>
  <div class="col">
      <div class="card-body">
        <h5 class="card-title">Controle</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto unde consequatur tempora ducimus consequuntur, odit labore? Earum cupiditate temporibus animi in atque obcaecati quam non. Eius, modi? Aliquid, dolorum voluptatibus!</p>
      </div>
    
  </div>
  <div class="col">
      <div class="card-body">
        <h5 class="card-title">Fácil</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis corrupti quis animi eveniet odit, assumenda, sunt laudantium soluta veritatis recusandae voluptatibus quae eum? Blanditiis, aliquam accusantium veritatis deleniti temporibus reiciendis!</p>
      </div>
  </div>
</div>

<p>E o melhor, é tudo gratis. Mas lembre-se, quando algo é grátis, o produto é você.</p>
<div class="div_button">
    <a href="/clientes" class="btn btn-sucess">Nova atividade</a>
</div>


<style>

    body{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 1em;
        color: white;
        background-image: linear-gradient(to bottom, #40c9ff, #e81cff);
        background-repeat: no-repeat;

    }

    .card-title, .card-text {
        color: white;
        font-style: italic;
        padding: 10px;
        
    }

    .card-body{
        margin-top: 30px;
        background: rgba(255, 255, 255, 0.2);
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 15px;
        height: 300px;
    }

    p {
        margin-top: 40px;
        margin-bottom: 40px;
        text-align: justify;
    }

    .btn-sucess{
        background-color: #ffffff79;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.384);
        border-radius: 15px;
        height: 80px;
        width: 200px;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-bottom: 90px;
        text-decoration: none;

    }

    .btn-sucess:hover,
    .btnsucess:focus {
        color: white;
        box-shadow: inset 8.5em 0 0 0 var(--hover);
        background-color: #40c9ff69;
        border: 1px solid transparent;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        border: 1px solid rgba(255, 255, 255, 0.384);
    }
</style>