body {
    background-color: rgb(85, 148, 243);
    font: normal 15pt Arial;
}

header{
    color: aliceblue;
    text-align: center;
}

.one {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    padding: 12px;
    width: 75%;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.479);
    height: 500px;
    text-align: center;
}

div {
text-align: center;
padding: 10px;
}


footer {
    color: aliceblue;
    text-align: center;
    font-style: italic;   
}